{
  "expo": {
    "name": "Ballboy",
    "description": "Find and organize sport activities with ease",
    "slug": "bb",
    "owner": "federodes",
    "privacy": "public",
    "sdkVersion": "35.0.0",
    "platforms": [
      "ios",
      "android",
      "web"
    ],
    "version": "1.0.0",
    "orientation": "portrait",
    "icon": "./assets/images/icon2_name.png",
    "splash": {
      "image": "./assets/images/splash_orange.png",
      "resizeMode": "contain",
      "backgroundColor": "#e59030"
    },
    "updates": {
      "fallbackToCacheTimeout": 0
    },
    "assetBundlePatterns": [
      "assets/**",
      "node_modules/react-navigation/src/**/*.png",
      "node_modules/@expo/vector-icons/fonts/*.ttf"
    ],
    "entryPoint": "./index.ts",
    "ios": {
      "bundleIdentifier": "app.ballboy.ios",
      "buildNumber": "1.0.0",
      "supportsTablet": false,
      "infoPlist": {
        "LSApplicationQueriesSchemes": [
          "comgooglemaps",
          "citymapper",
          "uber",
          "lyft",
          "waze"
        ]
      },
      "config": {
        "googleMapsApiKey": "XXX"
      }
    },
    "android": {
      "package": "app.ballboy.android",
      "versionCode": 1,
      "permissions": [
        "CAMERA_ROLL"
      ],
      "config": {
        "googleMaps": {
          "apiKey": "XXX"
        }
      },
      "intentFilters": [
        {
          "action": "VIEW",
          "data": {
            "scheme": "https",
            "host": "*.ballboy.app"
          },
          "category": [
            "BROWSABLE",
            "DEFAULT"
          ]
        }
      ]
    },
    "hooks": {
      "postPublish": [
        {
          "file": "sentry-expo/upload-sourcemaps",
          "config": {
            "organization": "ballboy",
            "project": "react-native",
            "authToken": "XXX"
          }
        }
      ]
    },
    "extra": {
      "isStorybook": false,
      "devServerUrl": "http://192.168.1.133:3001",
      "prodServerUrl": "https://vast-beach-90080.herokuapp.com",
      "graphqlEndpoint": "/graphql",
      "chatkitAuthEndpoint": "/chatkit-auth",
      "chatkitReadOnlyUser": "readonly",
      "chatkitInstanceLocator": "XXX",
      "cloudinaryCloudname": "XXX",
      "cloudinaryApiKey": "XXX",
      "cloudinaryApiSecret": "XXX",
      "cloudinaryUploadPreset": "default",
      "webGoogleMapsApiKey": "XXX",
      "rnSentryDsn": "XXX",
      "webSentryDsn": "XXX",
      "feedbackUrl": "https://goo.gl/forms/123",
      "privacyUrl": "https://ballboy.app/privacy",
      "termsUrl": "https://ballboy.app/terms"
    }
  }
}
